




#inputBox {
	background-color: coral;
	border: 1px solid black;
	text-align: center;
}
#outputBox {
	background-color: lightgreen;
	border: 1px solid black;
	text-align: center;

}
#submit {
background-color: lightblue;
margin-top: 12px;
margin-bottom: 12px;
}
form {
	margin-top: 100px;
}
#display {
	background-color: cornsilk;
	border: 1px solid black;
	text-align: center;
}
#bigger {
	color: red;
}
